<mat-toolbar class="custom-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img [src]="logoPath" alt="AUTEK Logo">
    
    <div class="toolbar-buttons-container">
      <button mat-button class="toolbar-button" routerLink="/home" >Inicio</button>
      <button mat-button class="toolbar-button" routerLink="/servicesCompany">Servicios</button>
      <button mat-button class="toolbar-button">Nosotros</button>
      <button mat-button class="toolbar-button" routerLink="/contact">Contacto</button>
      <button mat-button class="toolbar-button">Blog</button>
    </div>
</mat-toolbar>