.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container h1, .container p {
    text-align: center;
    width: 100%;
}